<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>개발 블로그</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container mt-4">
    <h2>수정하기</h2>
    <form method="post" th:action="'/modify/' + ${id}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" th:text="${dto.content}"></textarea>
        </div>
        <div class="form-group">
            <label for="writer">Writer:</label>
            <input type="text" class="form-control" id="writer" name="writer" th:value="${dto.writer}" readonly>
        </div>
        <a th:href="@{/}" class="btn btn-success">목록</a>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

</body>
</html>